# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

//Added by user
brickBreak/Debug/*
!brickBreak/Debug/sfml-audio-d-2.dll
!brickBreak/Debug/sfml-graphics-d-2.dll
!brickBreak/Debug/sfml-network-d-2.dll
!brickBreak/Debug/sfml-system-d-2.dll
!brickBreak/Debug/sfml-window-d-2.dll
brickBreak/Release/*
brickBreak/.vs/brickBreak/v14/.suo
brickBreak/brickBreak.sdf
